global
    log stdout format raw local0
    maxconn 2048

defaults
    mode tcp
    timeout connect 5s
    timeout client 120s
    timeout server 120s
    log global

frontend coordinator_grpc
    bind *:50052
    default_backend coordinator_backends

backend coordinator_backends
    mode tcp
    option httpchk
    http-check connect port 8080
    http-check send meth GET uri /readyz ver HTTP/1.1 hdr Host localhost
    http-check expect status 200
    server coordinator1 coordinator1:50052 check port 8080 inter 2s fall 2 rise 1
    server coordinator2 coordinator2:50052 check port 8080 inter 2s fall 2 rise 1
